<div class="row">
  <div class="col-md-6 form-group">
    <button mat-raised-button (click)="goBack()">
      <mat-icon matPrefix>arrow_back</mat-icon>
      Back
    </button>
  </div>
</div>
<div class="d-flex flex-row justify-content-center">
  <div class="" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="alert alert-danger" *ngIf="error">
    <p>{{ error }}</p>
  </div> 
</div>
<div class="row" style="margin-top:20px" *ngIf="!isLoading">
  <div class="image-card col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img src="{{country.flags.png}}" alt="{{country.name.official}}" >
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">
    <h1><strong>{{country.name.common}}</strong></h1>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top: 10px;">
        <p><strong>Native Name: </strong>  {{country.name.official}}</p>
        <p><strong>Population: </strong>  {{country.population}}</p>
        <p><strong>Region: </strong> {{country.region}}</p>
        <p><strong>Sub Region: </strong> {{country.subregion}}</p>
        <p><strong>Capital: </strong> {{country.capital[0]}}</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top: 10px;">
        <p><strong>Top Level Domain:</strong> {{country.tld[0]}}</p>
        <p><strong>Currencies: </strong> <span *ngFor="let currencie of currencies"> {{currencie.name}}  </span></p> <!--  -->
        <p><strong>Language: </strong> <span >{{ languages }} &nbsp;</span></p> <!-- *ngFor="let language of languages; let i = index" -->
      </div>
    </div>
    <div class="row" style="padding-top: 30px;">
      <div class="col-md-12">
        <p>
          <strong>Border Countries:  </strong> 
          <span *ngIf="borders">
            <button class="borders-btn" mat-raised-button *ngFor="let border of borders">
              {{border}}
            </button>
          </span>
          <span *ngIf="!borders">
            No borders
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
