.matCard {
  /* width: 260px;
   */
  /* margin-left: 5px;
  margin-right: 5px; */
  width: 260px;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.mat-card:hover {
  -webkit-transform:scale(1.05); /* Safari et Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* Internet Explorer 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
  border-bottom-color: rgb(104, 106, 110);;
  transition: 0.5s;
}

.country-image {
  /* width: 100%; */
  height: 150px;
  background-size: cover;
}

 /* Float to the right on screens that are equal to or less than 768px wide */
 @media (max-width: 768px) {
  .padding-sm {
    float: left;
  }
}

/* Float to the right on screens that are equal to or greater than 769px wide */
@media (min-width: 769px) {
  .padding-lg {
    float: right;
  }
} 