<mat-card class="matCard" style="cursor: pointer;" (click)="onDetailsCountry(country.name.official)">
  <img mat-card-image class="country-image" src="{{country.flags.png}}" alt="">
  <mat-card-content>
    <h3><strong>{{country.name.common}}</strong></h3>
    <div class="row">
      <div class="col-md-12">
        <p><strong>Population:</strong> {{country.population}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><strong>Region:</strong> {{country.region}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><strong>Capital:</strong> {{country.capital}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>